name: Build and Deploy to GitHub Pages

on:
  push:
    branches:
      - main # Change this to 'master' if your default branch is master

permissions:
  contents: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npx ng build --base-href /userinsight-dashboard/

      - name: Fix SPA 404s
        run: cp dist/userinsight-dashboard/browser/index.html dist/userinsight-dashboard/browser/404.html

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: dist/userinsight-dashboard/browser
          branch: gh-pages
